<ul>
    {{#each this}}
        <li class="country">
        <div>
        <h2 class="capital"><b>{{name}}</b></h2>
        <p><b>Capital:{{capital}}</b></p>
        <p><b>Population:{{population}}</b></p>
        <p> <b>Languages:</b> </p>
    {{#each languages}}
        <ul>
            <li>{{name}}</li>
        </ul>
    {{/each}}
        </div>
    <img src="{{flag}}" alt="flag" width="450" class="flag">
    </li>
    {{/each}}
</ul>


